In [1]:
import pyspark
import pyspark.sql
from pyspark.sql import SparkSession  # SparkSession is used to declare spark variable
from pyspark import SparkContext      # to declare spark context
from pyspark.sql.functions import *

# Declare Spark Variable

In [2]:
spark = (SparkSession.builder.appName('MyApp').getOrCreate())

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/13 00:01:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/02/13 00:01:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/02/13 00:01:01 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/02/13 00:01:01 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

# Create Schema example below

In [7]:
df = spark.createDataFrame([('bai',39),('tai',19),('mahesh',38),('suresh',34),('ramesh',7),('hitesh',4)],
                           ('name','age'))

In [8]:
df.show()

+------+---+
|  name|age|
+------+---+
|   bai| 39|
|   tai| 19|
|mahesh| 38|
|suresh| 34|
|ramesh|  7|
|hitesh|  4|
+------+---+

# Aggregate avg function

In [48]:
df.agg(avg('age')).show()

+--------+
|avg(age)|
+--------+
|    23.5|
+--------+

In [49]:
df.createOrReplaceTempView("TempView") # Create temp view using data frame

In [62]:
df2 = spark.sql('select name from TempView')  # Spark sql example

In [63]:
df2.show()

+------+
|  name|
+------+
|   bai|
|   tai|
|mahesh|
|suresh|
|ramesh|
|hitesh|
+------+

In [26]:
# to load multiple csv files NYC Taxy data - create list variable of all files

paths = ["/Users/dipak/Spark/data/NYC_Taxi/yellow_tripdata_2021-01.csv",
         "/Users/dipak/Spark/data/NYC_Taxi/yellow_tripdata_2021-02.csv",
         "/Users/dipak/Spark/data/NYC_Taxi/yellow_tripdata_2021-03.csv",
         "/Users/dipak/Spark/data/NYC_Taxi/yellow_tripdata_2020-03.csv",
         "/Users/dipak/Spark/data/NYC_Taxi/yellow_tripdata_2020-04.csv",
         "/Users/dipak/Spark/data/NYC_Taxi/yellow_tripdata_2019-05.csv",
         "/Users/dipak/Spark/data/NYC_Taxi/yellow_tripdata_2019-06.csv"]

In [32]:
nycDf=spark.read.format('csv').option("header","true").load(paths)

In [33]:
nycDf.count() # 2.2 Bn total records

22418195

In [34]:
nycDf.printSchema() # Shows the structure of the data frame with all the columns and data type.

root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)